extends layout

block content
  div.maincontent
    div.mainimage
      img(src='/images/placeholder.jpg' width='500')
    div.maintext
        h3 You show the lights that stop me
        h3 Turn to stone
        h3 You shine it when I'm alone
        h3 And so I tell myself that I'll be strong
        h3 And dreaming when they're gone