extends layout

block content
  div.maincontent
    div.mainimage
      img(src='/images/placeholder.jpg' width='500')
    div.maintext
        br
        br
        h3 A flowerpot to light up your room...
        br
        br
        h4 ...designed to light your face up with a smile!
        br
        br
        br
        a(href='http://www.etsy.com/shop/lilylightsOLIN') View our store on Etsy!