doctype 5
html
  head
    div.container
      img(src='/images/bokeh.jpg' width='1138')
      div.bs-docs-section.clearfix
        div.row
          div.col-lg-12
            div.bs-example
              div.navbar.navbar-default
                //- div.navbar-header
                //-   a.navbar-brand(href='') Lights
                div.navbar-collapse.collapse.navbar-responsive-collapse
                  ul.nav.navbar-nav
                    li
                      a(href='') Home
                    li
                      a(href='/product') Product
                    li
                      a(href='/team') Team

    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    block content