extends layout

block content
  div.maincontent
    div.mainimage
      img(src='/images/olincollege.jpg' width='500')
    div.maintext
        h4 This is where we will talk about how we go to Olin College and blah blah blah blah.