extends layout

block content
  div.maincontent
    div.mainimage
      img(src='/images/olincollege.jpg' width='500')
    div.maintext
        h4 At Olin College of Engineering, we believe that engineering cannot exist without a human context.
          | Lily Lights is a project developed by a small team of students with an eye toward clever design and real-world business sense.
          br
          br
          | Our goal was to leverage our excellent engineering resources to create an aesthetically pleasing product that will appeal to
          | a wide variety of people. Are you a college student looking to decorate your dorm room? Are you a parent, searching for a cute
          | nightlight to help your child feel safe in the dark? Do you enjoy collecting trinkets that combine every day household items with
          | accessible technologies? 
          br
          br
          i Then Lily Lights is for you.
