extends layout

block content
  div.maincontent
    div.center
      img(src='/images/team.png')
      br
      br
      div.subcontent
        i From left to right:
        br
        br
        p
          b Ariana Chae
          br
          | Ari is a junior at Olin College majoring in Engineering with a Concentration in Computing. Having traveled all of 2.5 miles from home to attend Olin College, Ariana is unique in that she has attended preschool, elementary, middle and high school, and now college all in the same town. Ari joined this project team because she wanted to build something pretty, and hopes that everyone else will find Lily Lights to be a beautiful product as well.
          br
        p
          b Caleb Kissel
          br
          | Caleb is a sophomore majoring in Mechanical Engineering. He also enjoys working on physical electrical systems, which is what drew him to this project.
        p
          b Samantha Kumarasena
          br
          | Samantha is a sophomore at Olin College, and is majoring in Electrical and Computer Engineering. Like Ari, she is also a local -- her home is less than five miles away from her college. She enjoys painting, playing the piano, and making excessively neat circuits. She chose to work on this project because she wanted to use her electrical knowledge to make a beautiful, polished product. 
        p
          b Nick Lapin
          br
          | Just as quick with a one-liner and a pistol, this international man of mystery hails from the land of bears and unicycles. Men want to be him, women want to be with him, and his enemies shake at the mention of his very name.