extends layout

block content
  div.maincontent
    div.center
      img(src='/images/team.png')
      br
      br
      div.subcontent
        i From left to right:
        br
        br
        p
          b Ariana Chae
          br
          | Ari is a junior at Olin College majoring in Engineering with a Concentration in Computing. She has a special interest in education, and has experience interning in the ed-tech space as well as performing research on educational change processes. Having traveled all of 2.5 miles from home to attend Olin College, Ariana is unique in that she has attended preschool, elementary, middle and high school, and now college all in the same town. With a cup of coffee in one hand and her cell phone in the other, she likes to stay busy and connected. Ari joined this project team because she wanted to build something pretty, and hopes that everyone else will find Lily Lights to be a beautiful product as well.
          br
        p
          b Caleb Kissel
          br
          | Rarely seen without his trusty aviators and a lit cigar, this self-taught pilot is the team’s vehicle expert. He is always ready to airlift the group in and out of a jam, and his swift and silent arsenal of throwing knives are always welcome when the going gets rough.
        p
          b Samantha Kumarasena
          br
          | Compact but packing a deadly punch, Samantha is the group’s demolitions expert. An unpredictable wild-card with a penchant for mayhem and destruction, she is more likely to get the team into trouble than out of it.
        p
          b Nick Lapin
          br
          | Just as quick with a one-liner and a pistol, this international man of mystery hails from the land of bears and unicycles. Men want to be him, women want to be with him, and his enemies shake at the mention of his very name.