extends layout

block content
  div.maincontent
    div.center
      img(src='/images/team.png')
      br
      br
      div.subcontent
        p
          b Ariana Chae
          br
          | This dangerous Femme Fatale is equally at home in a cocktail dress or a ghillie suit. Famed for her sniper’s eye and impossible stealth, she can also bring down any opponent in seconds in brutal hand-to-hand combat.
          br
        p
          b Caleb Kissel
          br
          | Rarely seen without his trusty aviators and a lit cigar, this self-taught pilot is the team’s vehicle expert. He is always ready to airlift the group in and out of a jam, and his swift and silent arsenal of throwing knives are always welcome when the going gets rough.
        p
          b Samantha Kumarasena
          br
          | Compact but packing a deadly punch, Samantha is the group’s demolitions expert. An unpredictable wild-card with a penchant for mayhem and destruction, she is more likely to get the team into trouble than out of it.
        p
          b Nick Lapin
          br
          | Just as quick with a one-liner and a pistol, this international man of mystery hails from the land of bears and unicycles. Men want to be him, women want to be with him, and his enemies shake at the mention of his very name.